<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}Online reStructuredText editor{% endblock %}</title>

          <style>
          @font-face {
            font-family: "Iose7kaGeneral";
            src: url("{{ url_for("static", filename="fonts/iose7ka-general-regular.woff2") }}") format("woff2");
          }
          </style>

    <link rel="stylesheet" href="{{ url_for("static", filename="style/base.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="style/site.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="style/menu.css") }}"/>


    <script src="{{ url_for("static", filename="scripts/jquery-1.6.4.min.js") }}"></script>
    <script src="{{ url_for("static", filename="scripts/jquery.layout.min-1.2.0.js") }}"></script>

        {% endblock %}
    </head>
    <body>
        {% block body_head %}
        {% endblock %}
        <header id="header">
            <h1>{% block site_title %}Online reStructuredText editor{% endblock %}</h1>
            <menu id="navigation">
                {%- block main_nav %}
                <ul class="menu" id="menu">
                    <li class="active"><a href="">Result (HTML)</a></li>
                  <!--  <li class=""><a href="">Reference</a></li>-->
                </ul>
                {% endblock -%}
            </menu>
        </header>
        <script type="text/javascript">
            var rst2html_url = "{{ url_for("rsted.rst2html") }}";
            $('#navigation').find("li.active a").click(function(evt) {
                 evt.preventDefault();
             });
        </script>

        <div id="content">
            {%- block content %}
            {% endblock -%}
        </div>

        <footer id="footer">
          <span style="flex-grow: 1">
            fork of <a href="https://github.com/destrangis/rsted">destrangis/rsted</a>
          </span>
          <div class="github-logo" style="flex-shrink: 1">
            <a href="https://github.com/dl-forks/rsted" aria-label="github" target="_blank">
              <svg stroke="#00000080" fill="currentColor" stroke-width="0.5" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
              </svg>
              <span>github</span>
            </a>
          </div>
          <span style="flex-shrink: 1">A. Shavykin 2022</span>
        </footer>

    </body>
</html>
